<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="yusuf,yusuf türlü,cv">
    <meta name="description" content="personal web page">
    <meta name="author" content="Yusuf TÜRLÜ">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="web site icon" type="png" href="/images/cv.png">
    <script src="https://kit.fontawesome.com/ee7574dc98.js" crossorigin="anonymous"></script>
    <title>Yusuf Türlü</title>
</head>
<body>
    <header>
        <nav>
            <div id="intro">
                <img src="/images/pp.jpg" alt="Yusuf" id="yusuf">
                <h1 id="hi">Hello! I'm Yusuf</h1>
            </div>
            <div class="head">
            <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#exp">Experience</a></li>
                    <li><a href="#abilities">Skills</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#certificate">Certificates</a></li>
                </ul>
            </div>
            <a href="index.html" target="_blank" id="en"><h4>Türkçe için Tıklayın!</h4></a>
        </nav>
    </header>
    <main>
        <section id="about">
            <fieldset id="fseth"><legend><h2 id="hakkimda">About Me</h2></legend>
                <p id="hello">Hello! I'm Yusuf Türlü. I am a student of Web Design and Coding at Istanbul Gelişim University. I have beginner level knowledge of <strong>HTML, CSS, Python, Javascript</strong>.
                    I am interested in <strong>programming, physics, and philosophy</strong>. I also engage in writing <em>literature</em> and <em>poetry</em>.
                    With my B2 level <strong>English</strong>, I can <em>read, write, and speak</em> well. I am open to <strong>research, software development, and creating new projects. My goal is to produce new studies in my field.</strong>
                </p>
            </fieldset>
        </section>
        <section id="education">
            <fieldset id="fsetedu"><legend><h2 id="egitim">Education</h2></legend>
                <h3 id="lise">High School</h3>
                <p id="lise">Dilnihat Özyeğin Anatolian High School (2019-2022)</p>
                <h3 id="uni">University</h3>
                <p id="uni">Istanbul Gelişim University, Web Design and Coding [Full Scholarship (2023-Present)]</p>
            </fieldset>
        </section>
        <section id="exp">
            <fieldset id="fsetd"><legend><h2 id="deneyimler">Experience</h2></legend>
                <img src="/images/kd.png" id="kdpng" height="70px"><h3 id="kahve">Kahve Dünyası (June 2023-May 2024)</h3>
                <p id="exp1">I worked as a "Barista" at Kahve Dünyası for a total of 11 months, <em>4 months full-time and 7 months part-time</em>. During my tenure, at my location in <strong>Galataport Istanbul</strong>, I enjoyed and contributed while interacting <strong>positively and effectively with experienced trainers, company officials,</strong> and <strong>customers</strong>.
                </p>
            </fieldset>
        </section>
        <section id="abilities">
            <fieldset id="fsete"><legend><h2 id="nitelikler">Skills</h2></legend>
                <ul class="ability">
                    <li id="li1">HTML</li>
                    <li id="li2">CSS</li>
                    <li id="li3">Python</li>
                    <li id="li4">Javascript</li>
                    <li id="li5">C#</li>   
                </ul>
            </fieldset>
        </section>
        <section id="certificate">
            <fieldset id="fsetc"><legend><h2 id="sertifikalar">Certificates</h2></legend>
            <ul class="certList">
                <li><img src="/images/certificate/python.png" id="python" height="200px"><h3>Python Programing</h3></li>
                <li><a href="https://www.btkakademi.gov.tr/portal/certificate/validate?certificateId=BozfGBypwe" target=_blank><img src="/images/certificate/cs.png" id="cs" height="200px"><h3>C# Programing</h3></a></li>
                <li><a href="https://www.btkakademi.gov.tr/portal/certificate/validate?certificateId=AJaSdGYNJM" target=_blank><img src="/images/certificate/GitveGitHub.png" id="cs" height="200px"><h3>Version Controls: Git and GitHub</h3></a></li>
            <li><a href="https://www.btkakademi.gov.tr/portal/certificate/validate?certificateId=D2xh1WJXxk" target=_blank><img src="/images/certificate/ProjeveRiskYonetimi.png" id="cs" height="200px"><h3>Managing Project and Risk</h3></a></li>
            </fieldset>
        </ul>
        </section>
    </main>
    <footer id="contact">
        <h2 id="iletisim">Contact</h2>
        <div class="contacts">
            <a href="https://www.instagram.com/ffllyusuf/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://github.com/josepyt" target="_blank"><i class="fa-brands fa-github" style="color: #10072c;"></i></a>
            <a href="https://www.linkedin.com/in/yusuf-t-296635232/" target="_blank"><i class="fa-brands fa-linkedin" style="color: #2963c7;"></i></a>
            <a href="mailto:isyusufturlu@gmail.com" target="_blank"><i class="fa-solid fa-at" style="color: #0d39e7;"></i></a>
            <a href="tel:+90 542 720 58 60"><i class="fa-solid fa-phone" style="color: #000000;"></i></a>
        </div>
    </footer>
    <script src="/js/scripten.js"></script>
</body>
</html>
